body{
    margin-left: 50px;
    margin-right: 50px;
    wide: 100%;
    height: 100%;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
nav{
    font-family: Chiller;
    font-weight: bold;
    float: top;
    background-color: black;
    font-size: larger;
    color: white;
    height: 7vh;
}
nav div.nav-left{
    color: white;
    float:left;
    font-size: 1.4vw;
}
nav table td{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    min-width: 6vw;
    margin: 0;
    padding: 0;
    line-height: 7vh;
    height: 7vh;
}
nav table td:hover{
    background-color: #222222;
    cursor: pointer;
}
.current_webpage{
    background-color: #222222;
    text-decoration: underline;
}

nav img.logo{
    float: left;
    vertical-align: middle;
    background-color: azure;
    height: 7vh;
    width: auto;
    margin-left:1vw;
}
nav.nav-right{
    float: right;
}
nav.l{
    display: none;
}
nav.nav-right:hover{

}

.account {
    font-family: Chiller;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 7vh;
    width: 6vw;
    text-align: center;
    font-size:1.4vw;
    border: none;
    cursor: pointer;
}
/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    font-family: Chiller;
    font-size: 1.4vw;
    font-weight: bold;
    background-color: black;
    position: relative;
    display: inline-block;
    float: right;
    height: 7vh;
    margin-right: 1vw;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    /*box-shadow: black;*/
}
/* 下拉菜单的链接 */
.dropdown-content a {
    min-width:6vw;
    height: 5vh;
    background-color: black;
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color:  #222222}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .account {
    background-color: #222222;
}
.website_banner img{
    margin-top: 2vh;
    padding: 0;
    width: 100%;
    height: 100%;
}
.home_photo_overview {
    display: inline-block;
    margin: 3%;
    background-color: #E7E7E7;
    border-radius: 5px;
    width: 25%;
    height: 25vw;
    line-height: 1.5em;
    overflow: hidden;
}
.home_photo{
    margin:auto;
    padding: 5% 10% 2% 10%;
    width: 80%;
    height: 80%;
    overflow:hidden;
    box-shadow: #ebccd1;
}
.home_photo img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.home_photo_overview h3{
    margin-left: 2vw;
    font-size: 1vw;
}
.home_photo_overview small{
    color: #888888;
    font-size: 1vw;
    margin-left: 2vw;
    float: bottom;
}
.home_photo_overview div:last-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.refresh{
    font-family: Constantia;
    position:fixed;
    bottom: 6vh;
    right: 3vw;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    border: none;
    font-size: 1.8vh;
    background-color: antiquewhite;
}
.back_top a{
    text-decoration: none;
    color: black;
}
.back_top{
    font-family: Constantia;
    position: fixed;
    bottom: 0;
    right: 3vw;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    border: none;
    font-size: 4vh;
    background-color: antiquewhite;
}
.refresh:hover{
    background-color: bisque;
}
.back_top:hover{
    background-color: bisque;
}
footer{
    width: 100%;
    height:35vh;
    background-color: #222222;
    color: white;
}
.footer-left{
    display: inline-block;
    width: 40%;
    word-spacing: 15vw;
    margin-left: 5vw;
    margin-right: 1vw;
    padding-left: 5vw;
    padding-top: 3vh;
    line-height: 6vh;
    font-size: 2vh;
}
.footer-center{
    margin-left: 5%;;
    width: 10%;
    display: inline-block;
    padding-top: 0;
    position: relative;
}
.footer-center img{
    display: inline-block;
    margin: 5%;
    width: 30%;
    height: auto;
}
.footer-right{
    display: inline-block;
    width: 30%;
    margin:0;
    position: relative;
}
.footer-right img{
    width: 30%;
    height: auto;
    margin-left: 50%;
}
.footer-bottom{
    text-align: center;
    margin-top: 10vh;
    font-size: 2vh;
}
